html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Open Sans';
    color: white;
    min-height: 100%;
}

body.landing {
    background-color: rgb(58,23,63);
}

.navbar {
    padding: 0.5rem;
    background-color: rgb(101,18,95);
}

.navbar .logo {
    position: relative;
    left: 2rem;
}

.hero-content {
    position: relative;
    min-height: 600px;
    background-image: url(../assets/images/bloc_jams_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

